{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Welcome to Currency Calculate</h1>
    <p class="important">
        Choose ...
    </p>

    {{ form_start(form)}}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="btn btn-secondary mx-auto">{{ result }}</div>   

 

{% endblock %}
